# Getting GitHub to recognise the programming language correctly
# https://github.com/github/linguist#troubleshooting
# Alasdair Sep 2020
*.frm linguist-language=VB6
*.frx linguist-language=VB6
*.cls linguist-language=VB6
*.bas linguist-language=VB6
*.vbp linguist-language=VB6